/* Override global theme constants or define new ones here */

$spring-green:      #6db33f;
$spring-dark-green: #5fa134;
$spring-brown:      #34302D;
$spring-grey:       #838789;
$spring-light-grey: #f1f1f1;


$v-font-family: "varela_roundregular", sans-serif;
$v-app-background-color: $spring-light-grey;
$v-focus-color: $spring-dark-green;

$v-table-header-font-size: 14px;
$v-grid-border: $v-grid-border-size solid $spring-brown;
$v-grid-header-background-color: lighten($spring-brown, 3%);
$v-grid-cell-vertical-border: 0px;

$cuba-default-menubar-background: $spring-brown;
$cuba-menubar-background-color: $spring-brown;
$cuba-menubar-border-color: $spring-dark-green;
$cuba-menubar-menuitem-text-color: $spring-light-grey;
$cuba-menubar-text-color: $spring-light-grey;
